html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.9px;
}
:hover {
	transition: ease-in-out .3s;
}
:focus {
	outline: none;
}
p {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #4F2C28;
}
.wrapper {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
header {
	width: 100%;
	height: 18%;
	display: flex;
	align-items: center;
}
.logo {
	height: 80%;
	position: relative;
	left: 5%;
}
.mobile-logo {
	display: none;
}
.burger {
	display: none;
}
.mobile-nav {
	display: none;
}
nav {
	display: flex;
	position: relative;
	right: -30%;
}
nav a, nav p{
	margin-right: 6vw;
	font-size: 1.4vw;
}
nav p {
	font-weight: 500;
	color: #4F2C28;
}
nav a {
	opacity: 0.65;
}
nav a:hover {
	opacity: 1;
}
.nav-button4 {
	margin-right: 0;
}
.bold {
	font-weight: 500;
	font-size: 1.92vw;
}
main {
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	color: #4F2C28;
}
h1, .main-text{
	margin: 0px auto;
}
h1 {
	font-size: 2.3vw;
	margin-bottom: 3%;
}
.line {
	position: relative;
	bottom: 3%;
}
.main-text {
	width: 60%;
	text-align: center;
	font-size: 1.7vw;
	font-weight: 500;
	line-height: 2.3vw;
	position: relative;
	bottom: 5%;
}
.slider {
	height: 40%;
	width: 66%;
	margin: 0 auto;
	display: flex;
}
.slider-item {
	padding: 0 1vw;
	border-radius: 27px;
}
.popUpMenu {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 10;
}

.popUpMenu img {
    border-radius: 20px;
    box-shadow: 0 0 50px rgba(0, 0, 0, .1);
    max-height: 40vw;
    cursor: pointer;
}

.icons-bar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 4.23vw;
	height: 23vw;
	position: absolute;
	right: 4%;
}
.icons-bar img:not(.telegram) {
	height: 3.9vw;
}

.telegram {
	height: 3.4vw;
}
footer {
	font-size: 1.22vw;
	height: 12%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: #4F2C28;
}
.footer-logo {
	height: 85%;
}
footer div p:nth-child(1) {
	font-weight: 500;
}
footer div {
	height: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.footer-nav {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

@media screen and (max-width: 600px) {
	.logo, nav, .location, .footer-nav, .line {
		display: none !important;
	}
	main {
		align-items: center;
	}
	.mobile-logo {
		display: block;
		height: 100px;
		margin: 0 auto;
	}
	.burger {
		background: none;
		border: none;
		display: block;
		position: absolute;
		margin-left: 5%;
	}
	.mobile-nav {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: -60%;
		height: 44%;
		width: 100%;
		z-index: 999;
		font-size: 20px;
		background-color: #ffffff;
		color: #4F2C28;
	}
	.mobile-nav-item:nth-child(2) {
		font-weight: 500;
		padding-top: 5%;
		padding-bottom: 5%;

	}
	.mobile-nav-item {
		position: relative;
		top: 12%;
		left: 10%;
		padding: 4% 10% 4% 0
	}
	.close-nav-menu {
		position: relative;
		right: -38%;
		bottom: -8%;
	}
	.page-name {
		margin-bottom: 7%;
		font-size: 24px;
		font-weight: 500;
	}
	.main-text {
		font-size: 14px;
		line-height: 16px;
		width: 80%;
	}
	.slider {
		width: 100%;
	}
	.slider-item {
		padding: 0 10px;
	}
	.popUpMenu img{
		max-width: 90%;
		max-height: 70%
	}
	.icons-bar {
		flex-direction: row;
		height: 50px;
		width: 80%;
		position: relative;
		right: 0;
		top: 1%;
	}
	.icons-bar img:not(.telegram) {
		height: 10.9vw;
	}
	.telegram {
		height: 10.4vw;
	}
	footer {
		height: 12%;
	}
	.footer-logo {
		height: 70%;
	}
	.contact-info {
		height: 60%;
		font-size: 18px;
	}
}
@media screen and (max-height: 670px) and (max-width: 1000px){
	.mobile-nav {
		font-size: 4.6vw;
	}
	.icons-bar img:not(.telegram) {
		height: 9.9vw;
	}
	.telegram {
		height: 9.1vw;
	}
	.icons-bar {
		height: 9.9vw;
		top: 2%;
	}
	.mobile-logo {
		height: 22vw;
	}
	.main-text {
		font-size: 3.4vw;
	}
	.page-name {
		font-size: 6.5vw;
	}
	.contact-info {
		font-size: 4.5vw;
	}
}